<!DOCTYPE html>
<html>
<head>
   <title>{{pageTitle}} - Anime Cafe</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-color-theme">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand logo-img" href="/"><h4>Anime Cafe</h4></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav text-center">
            <li><a href="/"><h4>Home</h4></a></li>
            <li class="active"><a href="/dubbed"><h4>Dubbed</h4></a></li>
            <li><a href="/donate"><h4>Donate</h4></a></li>
         </ul>
      </div>
   </div>
</nav>

<div class="container-fluid">

   <div class="lead">
      <h1 class="text-center">{{pageTitle}}</h1>
   </div>

   <div class="list-group">

      <a href="{{ asobini.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ asobini.banner }}"
               alt="Cover image banner for {{ asobini.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ asobini.name }}</h4>
      </a>

      <a href="{{ barakamon.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ barakamon.banner }}"
               alt="Cover image banner for {{ barakamon.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ barakamon.name }}</h4>
      </a>

      <a href="{{ danmachi.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ danmachi.banner }}"
               alt="Cover image banner for {{ danmachi.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ danmachi.name }}</h4>
      </a>

      <a href="{{ withmysmartphone.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ withmysmartphone.banner }}"
               alt="Cover image banner for {{ withmysmartphone.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ withmysmartphone.name }}</h4>
      </a>

      <a href="{{ newgame.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ newgame.banner }}"
               alt="Cover image banner for {{ newgame.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ newgame.name }}</h4>
      </a>

      <a href="{{ mikagura.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ mikagura.banner }}"
               alt="Cover image banner for {{ mikagura.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ mikagura.name }}</h4>
      </a>

      <a href="{{ gamers.id }}"
         class="list-group-item">
         <img
               class="img-responsive"
               style="max-height: 70px; height: 35px; width: 100%;"
               src="{{ gamers.banner }}"
               alt="Cover image banner for {{ gamers.name }} with the name of the series and some characters from the series"
         />
         <h4 class="text-center">{{ gamers.name }}</h4>
      </a>

   </div>

</div>

</body>
</html>
