<!DOCTYPE html>
<html>
<head>
   <title>{{pageTitle}} - Anime Cafe</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<nav style="margin-bottom: 0;" class="navbar navbar-inverse navbar-color-theme">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><h4>Anime Cafe</h4></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav text-center">
            <li><a href="/"><h4>Home</h4></a></li>
            <li class="active"><a href="/dubbed"><h4>Dubbed</h4></a></li>
            <li><a href="/donate"><h4>Donate</h4></a></li>
         </ul>
      </div>
   </div>
</nav>

<img
      class="img-responsive"
      style="margin-top: 0; height: 35vh; width: 100%;"
      src="{{ banner }}"
      alt="Cover image banner for {{ pageTitle }} with the name of the series and some characters from the series"
/>

<div class="container-fluid">

   <div class="lead">
      <h3 class="text-center">{{pageTitle}}</h3>
   </div>

   <div class="row">
      <div class="col-sm-4">
         <div class="list-group">
            <a href="{{ ep1.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep1.name }}
               </h4>
            </a>
            <a href="{{ ep2.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep2.name }}
               </h4>
            </a>
            <a href="{{ ep3.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep3.name }}
               </h4>
            </a>
            <a href="{{ ep4.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep4.name }}
               </h4>
            </a>
         </div>
      </div>

      <div class="col-sm-4">
         <div class="list-group">
            <a href="{{ ep5.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep5.name }}
               </h4>
            </a>
            <a href="{{ ep6.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep6.name }}
               </h4>
            </a>
            <a href="{{ ep7.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep7.name }}
               </h4>
            </a>
            <a href="{{ ep8.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep8.name }}
               </h4>
            </a>
         </div>
      </div>

      <div class="col-sm-4">
         <div class="list-group">
            <a href="{{ ep9.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep9.name }}
               </h4>
            </a>
            <a href="{{ ep10.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep10.name }}
               </h4>
            </a>
            <a href="{{ ep11.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep11.name }}
               </h4>
            </a>
            <a href="{{ ep12.id }}"
               class="list-group-item">
               <h4 class="text-center">
                  {{ ep12.name }}
               </h4>
            </a>
         </div>
      </div>

   </div>

</div>

</body>
</html>
