<!DOCTYPE html>
<html>
<head>
   <title>{{pageTitle}} - Anime Cafe</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="icon" type="image/png" href="/public/android-icon-192x192.png">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<nav style="margin-bottom: 0;" class="navbar navbar-inverse navbar-color-theme">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand logo-img" href="/">Anime Cafe</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav text-center">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/dubbed">Dubbed</a></li>
            <li><a href="/donate">Donate</a></li>
         </ul>
      </div>
   </div>
</nav>

<img
      class="img-responsive"
      style="margin-top: 0; height: 35vh; width: 100%;"
      src="{{ banner }}"
      alt="Cover image banner for {{ pageTitle }} with the name of the series and some characters from the series"
/>

<div class="container-fluid">

   <div class="lead">
      <h3 class="text-center">{{pageTitle}}</h3>
   </div>

   <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-10">
         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep1.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep1.name }}
                  </h4>
               </a>
               <a href="{{ ep2.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep2.name }}
                  </h4>
               </a>
               <a href="{{ ep3.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep3.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep4.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep4.name }}
                  </h4>
               </a>
               <a href="{{ ep5.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep5.name }}
                  </h4>
               </a>
               <a href="{{ ep6.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep6.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep7.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep7.name }}
                  </h4>
               </a>
               <a href="{{ ep8.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep8.name }}
                  </h4>
               </a>
               <a href="{{ ep9.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep9.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep10.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep10.name }}
                  </h4>
               </a>
               <a href="{{ ep11.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep11.name }}
                  </h4>
               </a>
               <a href="{{ ep12.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep12.name }}
                  </h4>
               </a>
               <a href="{{ ep13.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep13.name }}
                  </h4>
               </a>
            </div>
         </div>
      </div>

      <div class="col-sm-1"></div>
   </div>

<!--   Haganai Next EPs Start Here  -->

   <hr>

   <div class="lead">
      <h3 class="text-center">{{pageTitle2}}</h3>
   </div>

   <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-10">
         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep14.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep14.name }}
                  </h4>
               </a>
               <a href="{{ ep15.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep15.name }}
                  </h4>
               </a>
               <a href="{{ ep16.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep16.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep17.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep17.name }}
                  </h4>
               </a>
               <a href="{{ ep18.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep18.name }}
                  </h4>
               </a>
               <a href="{{ ep19.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep19.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep20.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep20.name }}
                  </h4>
               </a>
               <a href="{{ ep21.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep21.name }}
                  </h4>
               </a>
               <a href="{{ ep22.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep22.name }}
                  </h4>
               </a>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="list-group">
               <a href="{{ ep23.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep23.name }}
                  </h4>
               </a>
               <a href="{{ ep24.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep24.name }}
                  </h4>
               </a>
               <a href="{{ ep25.id }}"
                  class="list-group-item">
                  <h4 class="text-center">
                     {{ ep25.name }}
                  </h4>
               </a>
            </div>
         </div>

      </div>

      <div class="col-sm-1"></div>
   </div>

</div>

</body>
</html>
